h1 {
  text-align: center;
  color: #764a4a;
}

h2 {
  color: #907575;
  text-align: left;
  margin: 10px auto;
}

/* nav {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  font-size: 50px;
} */
.active {
  font-size: 24px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #542e2e;
}

.inactive {
  font-size: 24px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #946d6d;
}

nav a {
  text-decoration: none;
  color: black;
  /* border: 2px solid rgb(96 139 168);
  border-radius: 5px; */
  padding: 10px;
  display: block;
  margin: 10px 15px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
