h1 {
  text-align: center;
}

/* nav {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  font-size: 50px;
} */
.active {
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: brown;
}

.inactive {
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  color: aquamarine;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.icon-image {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.icon-text {
  font-weight: 600;
  color: #333;
  font-size: 1rem;
}
