body {
  display: contents;
  background-color: #eef2f6;
}

.grid-container {
  display: grid;
  grid:
    'header header header header header header'
    'menu main main main main right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  /* background-color: #eef2f6; */
  padding: 10px;
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-area: header;
  border-bottom: 3px solid #161e25;
}
.item2 {
  grid-area: menu;
  border-right: 3px solid #161e25;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

h4 {
  color: #161e25;
  margin: 5px auto;
}

section.css-15y4xrm {
  border: 1px solid #608ca8;
  border-radius: 8px;
  cursor: pointer;
}
